body {
    background-color: green;
    color: yellow;
}

header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    border: 10px solid blue;
    text-align: center; 
}

img.linusTheHottie {
    border: 10px solid red;
    display: block; 
    margin: auto; 
}

img.pickles {
    border: 10px solid magenta;
    display: block; 
    margin: auto; 
}

a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    border: 10px solid black;   
}

a.pickleLink {
    color: yellow;
}

a.linusLink {
    color: red;
}
